<div class="row justify-content-center align-items-center p-4">
    <div class="col-lg-4 col-md-6 text-center mt-4">

        <!-- Fine Circle Responsive Image -->
        <div id="container" class="my-2">
            <div id="dummy"></div>
            <div id="element">
                <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn"
                    data-wow-delay=".1s">
            </div>
        </div>

        <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
        <br>
        <p class="text-center wow animated slideInUp" data-wow-delay=".15s">
            {%- capture aboutlink -%}{%- link pages/about.md -%}{%- endcapture -%}
            {% include elements/button.html link=aboutlink text="about me" size="lg" style="info" %}
            {%- capture projectslink -%}{%- link pages/projects.html -%}{%- endcapture -%}
            {% include elements/button.html link=projectslink text="my projects" size="lg" style="success" %}
            <br>
            <br>
            <script type='text/javascript' src='https://assets.trakteer.id/js/trbtn-overlay.min.js'></script><script type='text/javascript' class='troverlay'>(function() {var trbtnId = trbtnOverlay.init('Dukung Saya di Trakteer','#be1e2d','https://trakteer.id/taruma/tip/embed/modal','https://cdn.trakteer.id/images/embed/trbtn-icon.png','40','inline');trbtnOverlay.draw(trbtnId);})();</script>
        </p>
        
    </div>
</div>