---
layout: default
title: projects
permalink: /projects/
weight: 1
---

<h2 class="text-center mt-5"><i class="fas fa-star"></i> featured projects</h2>

{% assign sorted = site.projects | where: "featured", true | sort: "date" | reverse %}

{% include projects/index.html %}

<h2 class="text-center"><i class="fas fa-terminal"></i> coding projects</h2>

{% assign sorted = site.projects | where_exp: "item", "item.type == 'coding'" | sort: "date" | reverse %}

{% include projects/index.html %}

<h2 class="text-center"><i class="far fa-lightbulb"></i> other projects</h2>

{% assign sorted = site.projects | where_exp: "item", "item.type == 'other'" | sort: "date" | reverse %}

{% include projects/index.html %}