<div class="row">
    <ul>
        {% for course in site.data.mooc %}
        {% if course.category contains include.category %}
        <li>
            <a href="{{ course.url }}"><strong>{{ course.title }}</strong></a>
            <small>{{ course.from }} - {{ course.to }}</small>
            <br>
            <small><strong>{{ course.author }}</strong> | {{ course.mooc }}<br>
                {% if course.grade %}
                Grade: {{ course.grade }}{% if course.certificate_url %} | {%- endif -%}
                {%- endif -%}
                {% if course.certificate_url %}
                <a href="{{ course.certificate_url }}">Certificate</a>
                {%- endif -%}
            </small><br>
            {% for category in course.category %}
            <span class="badge badge-pill text-primary border border-primary">{{ category }}</span>
            {%- endfor -%} <br><br>
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
</div>